<% @students.each do |student| %>
  <p> <%= link_to student.name, student_path(student) %> </p>
  <div id="student-id<%= student.id %>">
    <%= link_to "delete", student_path(student), method:"delete" %>
  </div>
<% end %>
